.navbar-lewagon {
  justify-content: flex-start;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-brand {
  display: flex;
  align-items: center;
  p {
    margin: 0 8px;
    font-weight: bold;
  }
}
