.navbar-lewagon {
  justify-content: flex-start;
  background: white;
  .container-fluid {
    justify-content: flex-start;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
